<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="shortcut icon" href="/images/icons/nexon.ico">
</head>
<body>
    <header>
        <h1>NEXON OPEN API</h1>
    </header>
    <main>
        <section class="list">
            <a href="/fifa4" aria-label="FIFA ONLINE 4">
                <img src="/images/fifa4-banner.png" alt="FIFA ONLINE 4">
            </a>
        </section>
    </main>
    <%- include('./components/footer'); %>
</body>
</html>